<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Musical</title>
    <link rel="stylesheet" href="/css/adicionarArtista.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/images/logo.png" alt="Logo do Catálogo Musical">
        </a>
        <h1>Editar Artista</h1>
        <img id="back-button" src="/images/back.png" alt="Voltar" class="btn-back">
    </header>
    <main>
        <form action="/artistas/<%= artista.id %>/edit" method="POST">
            <div>
                <label for="nome">Nome do Artista:</label>
                <input type="text" name="nome" id="nome" value="<%= artista.nome %>" required>
            </div>

            <div>
                <label for="generoIds">Gêneros:</label>
                <div class="checkbox-container">
                    <% if (generos && generos.length > 0) { %>
                        <% generos.forEach(genero => { %>
                            <div>
                                <input 
                                    type="checkbox" 
                                    name="generoIds" 
                                    value="<%= genero.id %>" 
                                    id="genero-<%= genero.id %>" 
                                    <%= artista.generos.some(assocGenero => assocGenero.id === genero.id) ? 'checked' : '' %>
                                >
                                <label for="genero-<%= genero.id %>"><%= genero.nome %></label>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p>Nenhum gênero disponível.</p>
                    <% } %>
                </div>
            </div>

            <button type="submit">Salvar Alterações</button>
        </form>
    </main>
    <script>
        document.getElementById('back-button').addEventListener('click', function () {
            window.history.back();
        });
    </script>   
</body>
</html>
